<%- include('../userPartials/header') %>

    <!-- LIGHT SECTION -->
    <section class="lightSection clearfix pageHeader">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="page-title">
                        <h2>billing &amp; Shipping address</h2>
                    </div>
                </div>
                <div class="col-md-6">
                    <ol class="breadcrumb">
                        <li>
                            <a href='/'>Home</a>
                        </li>
                        <li>
                            <a href="/shop">shop</a>
                        </li>
                        <li class="active">Shipping Information</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>

    <!-- MAIN CONTENT SECTION -->
    <section class="mainContent clearfix stepsWrapper">
        <!-- <div class="container"> -->
        <div class="row">
            <div class="col-md-12">
                <div class="innerWrapper clearfix stepsPage">
                    <div class="row progress-wizard" style="border-bottom:0;">

                        <div class="col-4 progress-wizard-step active">
                            <div class="text-center progress-wizard-stepnum">Shipping Method</div>
                            <div class="progress">
                                <div class="progress-bar"></div>
                            </div>
                            <a class="progress-wizard-dot"></a>
                        </div>

                        <div class="col-4 progress-wizard-step disabled">
                            <div class="text-center progress-wizard-stepnum">Payment Method</div>
                            <div class="progress">
                                <div class="progress-bar"></div>
                            </div>
                            <a class='progress-wizard-dot'></a>
                        </div>

                        <div class="col-4 progress-wizard-step disabled">
                            <div class="text-center progress-wizard-stepnum">Review</div>
                            <div class="progress">
                                <div class="progress-bar"></div>
                            </div>
                            <a class='progress-wizard-dot'></a>
                        </div>
                    </div>
                </div>

                <div class="orderBox myAddress mb-0 text-nowrap">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>No</th>
                                    <th>Name</th>
                                    <th class="">Phone</th>
                                    <th>House No.</th>
                                    <th>Area</th>
                                    <th>City</th>
                                    <th>State</th>
                                    <th>Pincode</th>
                                    <th>Title</th>
                                    <th>Actions</th>

                                </tr>
                            </thead>
                            <tbody>

                                <% for(let i=0;i<userAddress.length;i++){ %>
                                    <tr class="alert alert-dismissible fade show p-0 mb-0" role="alert">
                                        <td>
                                            <%= i+1 %>
                                        </td>
                                        <td>
                                            <%= userAddress[i].username %>
                                        </td>
                                        <td>
                                            <%= userAddress[i].phone %>
                                        </td>
                                        <td>
                                            <%= userAddress[i].address1 %>
                                        </td>
                                        <td>
                                            <%= userAddress[i].address2 %>
                                        </td>
                                        <td>
                                            <%= userAddress[i].city %>
                                        </td>
                                        <td>
                                            <%= userAddress[i].state %>
                                        </td>
                                        <td>
                                            <%= userAddress[i].pincode %>
                                        </td>
                                        <td>
                                            <%= userAddress[i].addressTitle %>
                                        </td>
                                        <td>
                                            <div class="btn-group" role="group">
                                                <button id="delete<%i%>"
                                                    onclick="addressDelete('<%=userAddress[i]._id %>')" type="button"
                                                    class="btn btn-danger">Delete</button>


                                                <button
                                                    onclick="window.location.href='editAddressGet?id=<%= userAddress[i]._id %>'"
                                                    id="edit<%= i %>" type="button"
                                                    class="btn btn-primary">Edit</button>

                                                <button id="select<%i%>"
                                                    onclick="addressSelect('<%=userAddress[i]._id%>')" type="button"
                                                    class="btn btn-info">Select</button>

                                            </div>
                                        </td>
                                    </tr>
                                    <% } %>

                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
            <!-- </div> -->
            <br>
            <br>
           
           
        </div>

    </section>

    <script>

        async function addressDelete(addressID) {

            Swal.fire({
                title: "Are you sure?",
                text: "You won't be able to revert this!",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: "#3085d6",
                cancelButtonColor: "#d33",
                confirmButtonText: "Yes, delete it!"
            }).then(async (result) => {
                if (result.isConfirmed) {
                    let response = await fetch(`/addressDelete?id=${addressID}`, {
                        method: 'GET'
                    })
                    let result = await response.json()
                    if (result.success) {
                        await Swal.fire({
                            icon: "success",
                            title: "Address deleted",
                            showConfirmButton: false,
                            timer: 1500
                        });
                        window.location.reload()
                    }
                }
            });

        }

        async function addressSelect(addressId) {
            let response= await fetch(`/cartCheckout/address?id=${addressId}`,{
                method:'GET'
            })
            let result=await response.json()
            if(result.success){
                window.location.href='/cartCheckout/payment'
            }
        }
    </script>

    <!-- FOOTER -->

    <%- include('../userPartials/footer') %>